@import "tailwindcss";

body {
  background: var(--background);
  color: var(--foreground);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

html,
body {
  overflow: auto;
  /* ให้เลื่อนได้ */
  -ms-overflow-style: none;
  /* IE, Edge */
  scrollbar-width: none;
  /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

@layer utilities {
  @keyframes size-up-down {

    0%,
    100% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.05);
      /* ขยายขึ้น 5% */
    }
  }

  .animate-size-loop {
    animation: size-up-down 2s ease-in-out infinite;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE, Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
  }
}